<div class="h-full overflow-y-auto min-h-0 pr-1">
  <app-workspace-events
    [workspace]="workspace()"
    [players]="players()"
    [teams]="teams()"
    [venues]="venues()"
    [members]="members()"
    [events]="events()"
    (eventsChange)="eventsChange.emit($event)"
    [selectedEvent]="selectedEvent()"
    (selectedEventChange)="selectedEventChange.emit($event)"
    [competitions]="competitions()"
    (competitionsChange)="competitionsChange.emit($event)"
    [selectedCompetition]="selectedCompetition()"
    (selectedCompetitionChange)="selectedCompetitionChange.emit($event)"
    [stages]="stages()"
    (stagesChange)="stagesChange.emit($event)"
    [selectedStage]="selectedStage()"
    (selectedStageChange)="selectedStageChange.emit($event)"
    [selectedMatch]="selectedMatch()"
    (selectedMatchChange)="selectedMatchChange.emit($event)"
    [matches]="matches()"
    (matchesChange)="matchesChange.emit($event)"
    [matchLineup]="matchLineup()"
    (matchLineupChange)="matchLineupChange.emit($event)"
    [activeCompetitionTab]="activeCompetitionTab()"
    (activeCompetitionTabChange)="activeCompetitionTabChange.emit($event)"
  />
</div>
